.navbar {
    display : flex;
    justify-content: space-around;
    align-items: center;
    padding : 4.5rem 0;
}

.nav__links li{
    display : inline-flex;
    padding : 2rem 1.6rem;
    font-weight: 400;
    opacity : 0.8;
    cursor:pointer;
}
.menu {
    display : none;
}

@media screen and (max-width: 768px) {
    .nav__links li {
        display : none;
    }
    .navbar{
        justify-content: space-between;
        margin-left : 2.6rem;
    }
    .menu {
        display : block;
        margin-right : 2.6rem;
    }
}